In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
from shapely.geometry import Point
from shapely.ops import nearest_points
import matplotlib.patches as mpatches
import rasterio
from rasterio.transform import xy

pd.set_option('display.max_columns', None)

In [69]:
terrain_label = {
    1: "Residence 1 or High developed areas",
    2: "Residence 2 or Low developed areas",
    3: "Rice paddies",
    4: "Woody crops",
    5: "Other croplands",
    6: "In-house crops",
    7: "Grassland",
    8: "Barren land",
    9: "Scrub/Shrub",
    10: "Deciduous broadleaf forest",
    11: "Evergreen broadleaf forest",
    12: "Evergreen needle-leaf forest",
    14: "Plantation trees",
    15: "Mangrove",
    16: "Inland wetland",
    18: "Open water",
    19: "Aquaculture",
    20: "Bamboo area"
}

# The code for aggregation is done on Kaggle because my CPU can't handle it
This data gives the proportion of terrain type for every single 10km2 grid

Link: https://www.kaggle.com/code/tranthaiduong123/terrain-data-processing

In [70]:
# Open the GeoTIFF file
with rasterio.open('analysis/data/terrain/VLUCD_L2_250m_2020.tif') as src:
    terrain_array = src.read(1)  # Read the first band
    transform = src.transform    # Affine transform to get coordinates
    metadata = src.meta
    print(metadata)

{'driver': 'GTiff', 'dtype': 'uint8', 'nodata': 0.0, 'width': 3264, 'height': 6492, 'count': 1, 'crs': CRS.from_wkt('GEOGCS["WGS 84",DATUM["WGS_1984",SPHEROID["WGS 84",6378137,298.257223563,AUTHORITY["EPSG","7030"]],AUTHORITY["EPSG","6326"]],PRIMEM["Greenwich",0,AUTHORITY["EPSG","8901"]],UNIT["degree",0.0174532925199433,AUTHORITY["EPSG","9122"]],AXIS["Latitude",NORTH],AXIS["Longitude",EAST],AUTHORITY["EPSG","4326"]]'), 'transform': Affine(0.0023049731197499995, 0.0, 102.04142975361111,
       0.0, -0.0023049731197499995, 23.423121875833335)}

In [71]:
grid_data = pd.read_csv('analysis/data/level3-grid-risk.csv')

In [72]:
grid_coords = grid_data[['grid_id', 'grid_center_lon', 'grid_center_lat']]

In [73]:
grid_coords.head()

   grid_id  grid_center_lon  grid_center_lat
0  100_729       103.248875        20.853103
1  100_731       103.248213        20.910223
2  100_732       103.247881        20.938783
3  100_737       103.246212        21.081582
4  100_740       103.245204        21.167260

In [74]:
terrain_data.head(5)

             lon        lat  terrain_class
1427  105.331779  23.421969             11
1428  105.334084  23.421969             14
1429  105.336389  23.421969              5
1430  105.338694  23.421969             11
1431  105.340999  23.421969              7

In [75]:
grid_terrain = pd.read_csv('analysis/data/terrain/grid_terrain_count.csv')

In [76]:
grid_terrain.head(5)

   grid_id  terrain_class  count
0  208_415             14     32
1  283_459              8     42
2  225_583             14     47
3  194_333              4     27
4  277_461             11    152